.title {
    margin-top: 2%;
    text-align: left;
}

.center-text {
    text-align: left;
}

.left-menu-theory {
    position: sticky;
    top: 10%;
}

.formula-content-box {  
    text-align: center;
}

.column-separator {
    border-right: 1px solid #333;
}

.main-formula {
    width: 50%;
    left: 25%;
    position: absolute;
}
