/* CAPACITOR STYLES */
.capacitor-box {
    background: linear-gradient();
    height: 100px;
    width: 60%;
    margin-top: 3%;
    margin-left: 20%;
    border-radius: 20px;
}

.capacitor-shadow {
    background: linear-gradient(rgb(255, 255, 255) 1%, black 80%);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    opacity: 56%;
}