@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.vertical-scrollable>.row {
  position: absolute;
  top: 120px;
  bottom: 100px;
  left: 180px;
  width: 50%;
  overflow-y: scroll;
}

.container {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
  max-width: unset;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

h1 {
  font-family: cursive;
  text-align: center;
  font-size: 80px;
}

.options-box {
  padding-left: 5%;
  padding-top: 5%;
  text-align: left;
  font-family: cursive;
  font-size: medium;
}

.limits-text-box {
  padding-right: 5%;
  padding-top: 5%;
  text-align: right;
  font-family: cursive;
  font-size: medium;
}

.component-value {
  font-size: 40px;
  font-family: cursive;
  text-align: center;

}

/* CAPACITOR */

.capacitor-value {
  font-size: 40px;
  margin-bottom: 5%;
  color: rgb(0, 0, 0);
}


/* SELECT */
/* TOOGLE BUTTON */

.toggle-container
{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-5%,-50%);
}
.toggle-container input[type="checkbox"] 
{
	width:130px;
	height:60px;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	background-color:#dfdfdf;
	box-shadow:inset 2px 5px 2px rgba(0,0,0,.2);
	border-radius:30px;
	position:relative;
	cursor:pointer;
}

.toggle-container input:checked[type="checkbox"]
{
	background-color:#53afe6;
}

.toggle-container input[type="checkbox"]:before
{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:60px;
	height:60px;
	background-color:#fff;
	border-radius:50%;
	transform:scale(1.1);
	box-shadow:0 0 5px rgba(0,0,0,.3);
	transition:all .3s linear;
}

.toggle-container input:checked[type="checkbox"]:before
{
	left:70px;
}