.circuit_not_found {
   /** background-image: url("../../assets/img/error_404.png") **/
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: absolute;
}